h1 {
    font-family: 'Times New Roman';
    text-align: center;
}
.s1 {
    background-image: url('../Innovision.github.io/Images/1.jpg');
    background-size: cover;
    h1 {
        color: white;
    }
}
.s2 {
    background: url('../Images/2.jpg');
    background-size: cover;
    h1 {
        color: white;
    }
}
.s3 {
    background: url('../Images/3.jpg');
    background-size: cover;
    h1 {
        color: white;
    }
}